server:
  port: 1006
spring:
  application:
    name: sso
  datasource:
    name: test
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    password: 123456
mybatis:
  mapper-locations: classpath:mapper/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
  type-aliases-package: com.example.user.mapper.model
eureka:
  client:
    serviceUrl:
      defaultZone: http://peer1:1000/eureka

